.slider-content {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-content .hero {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 100% 100%;
    object-fit: cover;
  }

  .awesome-slider .awssld__next {
    border-width: 8px;
    border-color: white;
  }
  
  .awesome-slider .awssld__prev {
    border-width: 8px;
    border-color: white;
  }

  .awssld__content{
    height: 100vh;
  }

  .fontStyle{
    /* font-family: 'Josefin Slab', serif; */
    /* font-family: 'Lora', serif; */
    /* font-family: 'Manrope', sans-serif; */
    /* font-family: 'Noto Sans JP', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Varela', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Reenie Beanie', cursive;
    line-height: 1.2;
    color: whitesmoke;
  }

  .subheading{
    /* font-family: 'Reenie Beanie', cursive; */
    font-family: 'Josefin Slab', serif;
    color: whitesmoke;
    font-size: 17px;
  }
  .peraghrapStyle{
    font-family: 'Josefin Slab', serif; 
    font-size: 20px;
    color: whitesmoke;
  }